.pTheme{
  background: #FD615C;
  color: #FFFFFF;
  font-family: 'Roboto';
  margin-bottom: 0px;
  text-align: center;
  /* border: 1px solid #000000; */ 
}
.pAntiTheme{
  background: #FFFFFF;
  color: #FD615C;
  font-family: 'Roboto';
  text-align: center;
}
.pTop3 {
  text-align: center;
  top: 51px;
  z-index: 1029;
  /* height: 60px; */
}
.pSub{
  top: 197px;
  background: #FFFFFF;
}
.rSub{
  top: 51px;
  background: #FFFFFF;
  z-index: 1029;
}
.pTable{
  padding-top: 272px;
}
.rTable{
  padding-top: 126px;
}
.pLeftMargin{
  text-align: left;
  margin-bottom: 0px;
}
.rank1 {
 /* height: 100%; */
  text-align: center;
} 
.tTheme{
  background: #fd5c5c14;
  color: #FD615C;
  font-family: 'Roboto';
  text-align: left;
}
.tTheme img{
  width: 60px;
}
.tTheme small{
  color: #EC9C8F;
  font-family: 'Roboto';
  text-align: left;
  font-size: 65%;
}
.marginFix {
  margin-right: -30px; 
  margin-left: -30px;
}
.active {
  font-weight: bolder;
  /* font-size: 16px; */
}
.inactive {
  color: #EC9C8F;
}






.circle-text {
  width:85%;
}
.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  color:#FFFFFF;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}
.circle-text div {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  font-size: 300%; 
}
.rounded-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 6px;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%!important;
  color:#FFFFFF;
  text-align: center;
  vertical-align: middle;
  font-size: 35;
}
.solo{
/* background: #F16A70;  */
background: #EF9A9A;
}
.duo{
/* background: #B1D877; */
background: #F48FB1;
}
.trio{
/* background: #8CDCDA; */
background: #CE93D8;
}
.quadro{
/* background: #819975; */
background: #FF8A65
;
}
.box {
  position: relative;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #FD615C;
  background: linear-gradient(#FD615C 0%, #EC9C8F 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #FD615C;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FD615C;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #FD615C;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FD615C;
}